
body {
  font: 17px/1.5 'Lato', sans-serif;
  color: #797979;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #FFEDFB;
}

.container {
  width: 100%;
  margin-left: 100px;
  overflow-x: hidden;
  word-wrap: break-word;
}
header {
	position: fixed;
	width: 100%;
	z-index: 1;
	padding-top: 30px;
	margin-bottom: 50px;
	min-height: 70px;
	background-color: white;
}

header a {
	color: grey;
	text-decoration: none;
	font-size: 17px;
}

header a:hover {
	color: #EE534F;
	font-weight: bold;
}

header li {
	float: left;
	display: inline;
	padding: 7px 10px 0 20px;
}

header img {
	float: left;
	margin-left: 50px;
}

header nav {
	float: left;
}

ul {
	margin: 0;
}

header input {
	margin-top: 8px;
	height: 30px;
}

.pageheader {
	width: 100%;
	height: 300px;
	color: #797979;
	background-color: #EEEEEE;
	padding:50px;
}

.pageheader h1 {
	margin-top: 100px;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
}

.pageheader p {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

#cart{
  height: 50px;
  width: 50px
}

@media(max-width: 800px) {
body {
  width: 100%;
  display: block;
  padding: 0;
  background-color: #fff;
}
}

@media(max-width: 800px) {
body img{
  display: block;
  padding: 0;
  margin: 0;
}
}

@media(max-width: 800px) {
  header {
    border-bottom: none;
  }
header li{
  width: 100%;
  display: block;
  background-color: #EE534F;
  border: 1px solid lightgrey;
}
header img {
  width:100%;
  height: auto;
  padding: 0px;
 }
 header input {
   display: none;
 }
 header a {
   color: lightgrey;
   padding-bottom: 3px;
 }
 header a:hover {
   color: darkgrey;
 }
}




#sticky-cart {
float:right;
width: 40%;
margin-top: 80px;
}

#sticky-cart ul li {
padding: 20px;
}

#sticky-cart h2 {
padding: 20px;
margin-left: 15px;
}

#courses-list img {
width: 100%;
}

#courses-list button {
color: white;
font-size: 15px;
background-color: #f55555;
width: 100px;
padding: 5px;
border-radius: 4px;
border-color: #f55555;
}

#courses-list button:hover {
background:lighten(#ED524E, 50%);
margin: 6px;
width: 150px;
height:40px;
-webkit-transition: all 100ms ease;
}

#list-right {
margin-top: 100px;
}

#Grid{
  text-align: center;
}

button {
color: white;
font-size: 14px;
background-color: #f55555;
width: 100px;
padding: 5px;
border-radius: 4px;
border-color: #f55555;
}
#show-cart {
width: 300px;

}

#clear-cart {
margin-right: 200px;
}

#scroll {
 position:fixed;
 right:10px;
 bottom:10px;
 cursor:pointer;
 width:50px;
 height:50px;
 background-color:#3498db;
 text-indent:-9999px;
 display:none;
 -webkit-border-radius:60px;
 -moz-border-radius:60px;
 border-radius:60px
}
#scroll span {
 position:absolute;
 top:50%;
 left:50%;
 margin-left:-8px;
 margin-top:-12px;
 height:0;
 width:0;
 border:8px solid transparent;
 border-bottom-color:#ffffff;
}
#scroll:hover {
 background-color:#e74c3c;
 opacity:1;filter:"alpha(opacity=100)";
 -ms-filter:"alpha(opacity=100)";
}

#course-shape{
  height: 600px;
  width: 400px;
  border-style: solid;
  border-color: black;
  border-radius: 25%;
  background-color: pink;
  text-align: center;

}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: wheat;
  font-size: 20px;
}

.footer_contact{
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer_company{
  grid-column-start: 2;
  grid-column-end: 3;
}

.footer_help{
  grid-column-start: 3;
  grid-column-end: 4;
}

@media(max-width: 800px) {
	footer {
		display: block;
		width: 100%;
	}
}

.bottomfooter {
	width: 100%;
	background-color: #EE534F;
	height: 60px;
	color: #fff;
	padding: 3px;
}

.bottomfooter a{
	color: #fff;
}
